.footer{
    background: #0b0888;
    font-family: 'Righteous', cursive;
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 50px;
}

.footer .fin {
    margin-top: 10px;
    color: rgb(225, 233, 243);
    font-size: 10pt;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 720px) {
    .footer .fin {
        width: 100%;
        color: #fff;
        font-size: 10pt;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
}