
.form-group {
    width: 100%;
    align-self: center;
    font-size: 12pt;
    color: rgb(4, 37, 99);
    font-family: 'Righteous', cursive;
}

#label {
    width: 100%;
    align-self: center;
    font-size: 12pt;
    color: rgb(4, 37, 99);
    font-family: 'Righteous', cursive;
    
}

#button {
    width: 100%;
    height: 40px;
}